.posts {
  &__single_post {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-width: 220px;
  }

  &__post_title {
    margin: 0 0 10px;
    font-size: 1.5em;
  }

  &__post_description {
    margin: 0;
    font-size: 1em;
  }
}
